# MAINNET
MAINNET_URL = https://eth-mainnet.g.alchemy.com/v2/1234123412341234
MAINNET_PRIVATEKEY= 12341234123412341234123412341234

# SEPOLIA
SEPOLIA_URL = https://eth-sepolia.g.alchemy.com/v2/1234123412341234
SEPOLIA_PRIVATEKEY = 12341234123412341234123412341234

# TENDERLY
USE_TENDERLY = false
TENDERLY_URL =
TENDERLY_PRIVATEKEY =

# ETHERSCAN APIY KEY
ETHERSCAN_API_KEY = ETHERSCANAPIKEYETHERSCANAPIKEY

# TESTNET
STORY_URL = http://
STORY_CHAINID = 1315
STORY_PRIVATEKEY = 
STORY_USER1 = 
STORY_USER2 = 
STORY_ERC721 = 
