[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "lib/create3-deployer"]
	path = lib/create3-deployer
	url = https://github.com/storyprotocol/create3-deployer
